# UPS
UPS_BASE_URL=https://wwwcie.ups.com
UPS_RATING_VERSION=v2403

# OAuth client-credentials token endpoint
UPS_OAUTH_URL=https://onlinetools.ups.com/security/v1/oauth/token

UPS_CLIENT_ID=
UPS_CLIENT_SECRET=
UPS_SHIPPER_NUMBER=

HTTP_TIMEOUT_MS=8000
